.submit-btn {
    padding: 0.6rem;
    color: white;
    background-color: #004080;
    border: none;
    border-radius: 5px;
}

.contact-card {
    background-image: url("../images/bg-card.png");
    background-repeat: no-repeat;
    background-position: bottom 40px right 144px;
}

.contact-card:hover {
    background-color: rgba(229, 62, 142, 255);
    background-image: none;
    color: white;

}

@media only screen and (max-width: 600px) {
    .office {
        margin-top: 1rem;
        margin-bottom: -100px !important;
    }
}